<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Здарова!</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Spring Boot</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a> </li>
                    <li><a href="#about">About</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="starter-template">
            <h1>Products parsed form castorama.pl</h1>
            <h2>
                <span th:text="'Message: ' + ${message}"></span>
                <br/><br/>
                <a href="/products">Список товаров</a>
            </h2>
        </div>
    </div>
    <!--/.container -->

    <script type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.js"></script>
</body>
</html>